<canvas #canvas id="canvas" width="400" height="400"></canvas>
<input type="color" placeholder="color" value="{{color}}" [(ngModel)]="color"><br>
<input type="range" min="0" max="255" [(ngModel)]="red"><br>
<input type="range" min="0" max="255" [(ngModel)]="green"><br>
<input type="range" min="0" max="255" [(ngModel)]="blue"><br>
<input type="range" min="0" max="400" [(ngModel)]="aaa"><br>
<input type="range" min="0" max="400" [(ngModel)]="bbb"><br>
<input type="range" min="1" max="2" step="0.01" [(ngModel)]="ccc"><br>
<input type="range" min="0.1" max="1" step="0.1" [(ngModel)]="ddd"><br>