<div [style.width.px]="size" [style.margin]="margin">
  <app-canvas [width]="size" [height]="size"></app-canvas>
  <div class="control-panel" [style.width.px]="size">
    <app-button [class]="'red'" [isWork]="nowScale === 'Big'" (buttonClick)="toggleScale()">
      {{nowScale}}
    </app-button>
    <app-button [class]="'blue'" [isWork]="nowMaxLife === 'Long'" (buttonClick)="toggleMaxLife()">
      {{nowMaxLife}}
    </app-button>
    <app-button [class]="'yellow'" [isWork]="nowGravity === 'Heavy'" (buttonClick)="toggleGravity()">
      {{nowGravity}}
    </app-button>
    <app-button [class]="'green'" (buttonClick)="setBackground()">
      {{'Change Background'}}
    </app-button>
  </div>
  <app-button [class]="'black'" [link]="'/'">
    Back
  </app-button>
</div>
