body {
  background: #eee;
}

.control-panel {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.range-container {
  width: 140px;
  height: 54px;
  margin: 4px;
}

.range-label {
  color: #333;
  font-size: 18px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #aaa;
  height: 2px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);

  &:focus,
  &:active {
    outline: none;

    &::-webkit-slider-thumb {
      transition: .2s ease-out;
      width: 18px;
      height: 18px;
      box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    }
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-color: #4FC3F7;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  }
}
