.wrapper {
  width: 600px;
}

canvas {
  background: #ddd;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.button-container {
  width :600px;
  display: flex;
  justify-content: space-between;
  margin:16px 0 20px;
}

button {
  appearance: none;
  outline: none;
  font-size: 18px;
  width: 140px;
  height: 54px;
  border-radius: 8px;
  color: #FFF;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  transition: .2s ease-out;

  &:hover {
    font-size: 20px;
    transform: scale(1.02);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
  }

  &:active {
    transform: translateY(2px);
  }

  &.scale {
    background-color: #E57373;

    &.big {
      background-color: darken(#E57373, 36%);
    }
  }

  &.max-life {
    background-color: #64B5F6;

    &.long {
      background-color: darken(#64B5F6, 36%);
    }
  }

  &.gravity {
    background-color: #FFD54F;

    &.heavy {
      background-color: darken(#FFD54F, 36%);
    }
  }

  &.change-background {
    background-color: #4DB6AC;

    &:active {
      background-color: darken(#4DB6AC, 36%);
    }
  }

  &.go-back {
    display: block;
    background-color: #444;
    margin: 0 auto;
    width: 94px;
    height: 40px;

    &:hover {
    font-size: 18px;
    transform: scale(1.02);
    }
  }
}
